<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.4.0" targetFramework="net48" />
  <package id="Flurl" version="2.8.1" targetFramework="net45" />
  <package id="Flurl.Http" version="2.4.1" targetFramework="net45" requireReinstallation="true" />
  <package id="MahApps.Metro" version="2.4.10" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks" version="4.11.0" targetFramework="net48" />
  <package id="MesUI" version="0.0.84" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.0-preview.6.25358.103" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net48" />
  <package id="MySql.Data" version="6.9.12" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="SecsWin32Api" version="1.0.0.2821" targetFramework="net45" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="10.0.0-preview.6.25358.103" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="10.0.0-preview.6.25358.103" targetFramework="net48" />
  <package id="System.Text.Json" version="10.0.0-preview.6.25358.103" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
</packages>